{% extends 'home/base.html' %}
{% load static %}
{% block title %}
URBAN CART
{% endblock %}
{% block content %}

<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
              <li><a href="{% url 'index' %}">Home</a></li>
              <li class="active">Shopping Cart</li>
            </ol>
        </div>
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu" style="text-align: center;">
                        <td class="image" style="width: 15%;">Item</td>
                        <td class="description" style="width: 25%;">Name</td>
                        <td class="price" style="width: 15%;">Price</td>
                        <td class="quantity" style="width: 20%;">Quantity</td>
                        <td class="total" style="width: 15%;">Total</td>
                        <td class="cart_delete" style="width: 5%;"></td>
                    </tr>
                </thead>
                <!-- style="width: 400px; text-align: center;" -->
                <!-- style="height: 100px; width: 100px;" -->
                <tbody style="justify-content: space-between;">
                    {% for cart_item in cart_items %}
                    
                    
                            <tr>
                                <td class="cart_product" style="width: 75%;" >
                                    <a href=""><img  src="{{ cart_item.item.product.image_url }}" alt="" style="width: 100%;"></a>
                                </td>
                                <td class="cart_description" style="width: 25%;" >
                                    <h4 >{{ cart_item.item.product.name }}</h4>
                                </td>
                                <td class="cart_price" style="width: 15%;">
                                    <p style="width: 100%;">RS {{ cart_item.item.product.discount_price }}</p>
                                </td>
                                <td class="cart_quantity" style="width: 20%;">
                                    <form method="POST" action="{% url 'update_cart' %}" style="width: 100%;">
                                        {% csrf_token %}
                                        <input type="hidden" name="product_id" value="{{ cart_item.item.product.id }}">
                                        <input class="cart_quantity_input" type="number" name="new_quantity" value="{{ cart_item.item.quantity }}" min="0"style="width: 45%; ">
                                        <button type="submit" class="btn btn-sm btn-primary"style="width: 45%;">Update</button>
                                    </form>
                                </td>
                                <td class="cart_total" style="width: 5%;">
                                    <p class="cart_total_price">RS {{ cart_item.subtotal }}</p>
                                </td>
                                
                                <td class="cart_delete" style="width: 100%;">
                                    
                                    <form method="POST" action="{% url 'update_cart' %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="product_id" value="{{ cart_item.item.product.id }}">
                                        <input type="hidden" name="new_quantity" value="0">
                                        <button type="submit" class="btn btn-danger" style="width: 50%;"><i class="fa fa-times"></i></button>
                                    </form>
                                    
                                </td>
                            </tr>
                        
                            {% endfor %}
                </tbody>
            </table>
            
        </div>
        
    </form>
    </div>
</section> <!--/#cart_items-->
<section id="do_action">
    <div class="container">
         <div class="col-sm-12">
               <div class="total_area">
                   <ul>
                        <li>Cart Sub Total <span>{{ total_price }}</span></li>
                        
                        <li>Shipping Cost <span>Free</span></li>
                        <li>Total <span>{{ total_price }}</span></li>
                   </ul>
                   
                   
                   <a href="{% url 'add_address' %}"  type="submit" class="btn btn-default check_out">Check Out</a>
                   
               </div>
         </div>
    </div>
</section>




	




<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    var options = {
        "key": "rzp_test_3XmJ02n0BgVfga", // Enter the Key ID generated from the Dashboard
        "amount": "50000", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
        "currency": "INR",
        "name": "Ecomm",
        "description": "Puchase",
        "image": "https://example.com/your_logo",
        "order_id": "order_IluGWxBm9U8zJ8", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
        "handler": function (response){
            alert(response.razorpay_payment_id);
            alert(response.razorpay_order_id);
            alert(response.razorpay_signature)
        },
        "theme": {
            "color": "#3399cc"
        }
    };
    var rzp1 = new Razorpay(options);
    rzp1.on('payment.failed', function (response){
            alert(response.error.code);
            alert(response.error.description);
            alert(response.error.source);
            alert(response.error.step);
            alert(response.error.reason);
            alert(response.error.metadata.order_id);
            alert(response.error.metadata.payment_id);
    });
    document.getElementById('rzp-button1').onclick = function(e){
        rzp1.open();
        e.preventDefault();
    }
    </script>
{% endblock %}
	
	