{% extends 'home/base.html' %}
{% block title %}
URBAN CART
{% endblock %}
{% block content %}



<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li class="active">Order List</li>
              </ol>
        </div>
        <div class="header" style="text-align: center;"><h2>My Orders</h2></div>
        <div class="table-responsive cart_info">
            {% if orders %}
            <table class="table table-condensed">

                <thead>
                    <tr class="cart_menu" style="text-align: center;">
                        <th class="quantity">Order ID</th>
                        <th class="quantity">Date</th>
                        <th class="quantity">Status</th>
                        <th class="quantity">Total Price</th>
                        <th class="quantity">Details</th> 
                    </tr>
                </thead>
                <tbody style="justify-content: space-between;">
                    {% for order in orders %}
                    <tr>
                        <td class="cart_product"  >
                            <h4>{{ order.id }}</h4>

                        </td>
                        <td class="cart_price"  >
                            <h4>{{ order.created_at|date:"Y-m-d H:i" }}</h4>

                        </td>
                        <td class="cart_quantity"  >
                            <h4>{{ order.status }}</h4>

                        </td>
                        <td class="cart_total"  >
                            <h4>Rs {{ order.total_price }}</h4>

                        </td>
                        <td class="cart_delete"  >
                            <h4><a href="{% url 'order_detail' order.id %}">View</a></h4>

                        </td>
                        
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
            {% else %}
    <p>You have no orders yet.</p>
{% endif %}
        </div>
    </div>
</section>





	

{% endblock %}
	
	